* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #796E24;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

#header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 150px 0 150px;
    padding: 0px 30px 0 30px;
    background-color: #EE9C21;
}

#header button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: auto;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.form-popup {
    display: none;
    background-color: #EE9C21;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50%;  
    padding: 15px;
}

.form-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.form-container h2 {
    align-self: center;
    font-size: 32px;
}

.form-container > div {
    font-size: 24px;
    display: flex;
}

.form-container > div label {
    width: 30%;
    text-align: center;
}

.form-container > div input {
    width: 70%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

#radiobtns {
    padding: 0 20px 0 20px;
}

.form-container button {
    height: 75px;
    width: 30%;
    font-size: 18px;
}

#btn-container {
    display: flex;
    justify-content: space-evenly;
}

#library {
    flex: 1;
    margin: 0px 150px 0 150px;
    padding: 30px;
    background-color: #F9DF8D;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fill,256px);
    justify-content: space-between;
    gap: 20px;
}

.box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #EE9C21;
    border: 3px solid #A34E24;
}

.box > div {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid #A34E24;
}

.box .buttons {
    display: flex;
    flex: 2;
    justify-content: space-between;
}

.box .buttons button {
    height: 40px;
    width: 80px;
    font-size: 16px;
}

.box .buttons button,
#header button,
.form-container button {
    background-color: #A34E24;
    color: white;
    border: none;
    border-radius: 10px;
}

.box .buttons button:active,
#header button:active,
.form-container button:active {
    border: 5px solid green;
}

#footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A34E24;
    margin: 0px 150px 0 150px;
}

